[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/XMrVertigoX/FreeRTOS.git
[submodule "AVRCDrivers"]
	path = AVRCDrivers
	url = https://XMrVertigoX@github.com/XMrVertigoX/AVRCDrivers.git
