# Readme preview file
README.html

# Eclipse project data
.cproject
.project
.settings

# Eclipse build output
/Debug/
/Default/
/Release/

# Compiler/Linker output
*.eep
*.elf
*.hex
*.o

# ctags file
tags
